.idea
.DS_Store

/var/*
!/var/tmp
/var/tmp/*
!var/tmp/.gitkeep
!/var/tmp/invoice-export
/var/tmp/invoice-export/*
!var/tmp/invoice-export/.gitkeep
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/lock
/var/lock/*
!var/lock/.gitkeep

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/

/docker/postgres/data
/docker/.env.local
/docker/nginx/config/default.conf